All Jobs for <strong><%= @company.name %></strong>

<% @company.jobs.each do |job| %>
  <ul><%= job.title %></ul>
<% end %>
<p>Contacts:</p>
<%= render partial: 'contact', collection: @company.contacts  %>
<p>Add Contact:</p>
<%= render partial: '/contacts/form' %>
